a,
ul {
    list-style: none;
    text-decoration: none;
}

/* header{} */

.container {
    max-width: 1487px;
    margin: 0 auto;
    padding: 0 16px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .header__logo-silka{} */

.header__logo {
    width: 160px;
    height: 41px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* .header__item{} */

.item__silka {
    color: rgb(31, 21, 52);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    opacity: 0.5;
}

.active {
    font-weight: 700;
    opacity: 1;
}

/* header */

.hero__container {
    display: flex;
    align-items: center;
    gap: 109px;
}

.box-1 {
    max-width: 445px;
}

.box__title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.box__text {
    margin: 0;
    margin: 45px;
    padding: 0;
    color: rgb(125, 121, 135);
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
}

.box__btn {
    display: flex;
    align-items: center;
    border: 0.5px solid transparent;
    border-radius: 55px;
    background: rgb(69, 143, 246);
}

.box__btn+span {
    padding: 0 40px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
}